doctype 5
html(lang="en")
  head
    // Meta Tags 
    meta(charset="utf-8")
    meta(name="author", content="Martin Gingras")
    meta(name="description", content="Substitute random words in your text with their synonyms")
    meta(name="keywords", content="synonym,synonymizer,substitute,words,")
    
    // Apple
    meta(name="apple-mobile-web-app-capable", content="yes" )
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    link(rel="apple-touch-icon", href="/img/appleSynonymize.jpg")
    link(rel="apple-touch-icon-precomposed", href="/img/appleSynonymize.jpg")
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // standard viewport tag to set the viewport to the device's width
    // , Android 2.3 devices need this so 100% width works properly and
    // doesn't allow children to blow up the viewport width
    meta(name="viewport", id="vp", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    // width=device-width causes the iPhone 5 to letterbox the app, so
    // exclude it for iPhone 5 to allow full screen apps
    meta(name="viewport", id="vp6", content="initial-scale=1.0,user-scalable=no,maximum-scale=1",  media="(device-height: 568px)")
    
    title=title
    link(rel='stylesheet', href='css/style.css')
    
    // For IE
    link(rel='shortcut icon', href='img/favicon.ico')
    
    // For Everything else... 
    link(rel='icon', href='img/favicon.ico')
    
    meta(property="og:image", content="/img/appleSynonymize.jpg")
    
    script(src='/js/jquery-2.0.3.min.js')
    script(src='/js/nlp-api-0.1.js')
    script(src='/js/anal.min.js')
  body
    header
      .container
        h1#title=title
        section#downloads
          h5= "Written by: Martin Gingras"
          a.btn(href="http://mgingras.ca") mgingras.ca
          a.btn(href="https://github.com/mgingras/synonymizer") View on GitHub
    block content
    
