doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="author", content="Martin Gingras")
    meta(name="description", content="Substitute random words in your text with their synonyms")
    meta(name="keywords", content="synonym,synonymizer,substitute,words,")
    
    <!-- Apple -->
    meta(name="apple-mobile-web-app-capable", content="yes" )
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    link(rel="apple-touch-icon", href="img/appleSynonomize.jpg")
    
    //- standard viewport tag to set the viewport to the device's width
    //- , Android 2.3 devices need this so 100% width works properly and
    //- doesn't allow children to blow up the viewport width
    meta(name="viewport", id="vp", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    //- width=device-width causes the iPhone 5 to letterbox the app, so
    //- we want to exclude it for iPhone 5 to allow full screen apps
    meta(name="viewport", id="vp6", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width",  media="(device-height: 568px)")
    
    title=title
    link(rel='stylesheet', href='css/style.css')
    link(rel='icon', href='img/favicon.ico')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='js/nlp-api-0.1.js')
  body
    header
      .container
        h1#title=title
        section#downloads
          h5= "Written by: Martin Gingras"
          <a href="http://magingras.com" class="btn">magingras.com</a>
          <a href="https://github.com/mgingras/synonymizer" class="btn">View on GitHub</a>
    block content
    